{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Medical Supply Optimization{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/optimize.css' %}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/optimize.js' %}"></script>



</head>
<body>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    
    <header>
        
        <nav class="navbar">
            <div class="logo">Medical Distribution</div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'optimize' %}">Optimize</a></li>
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>


    {% include 'footer.html' %}

</body>
</html>
